body {
  font-family: 'Roboto', sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  margin: 0 auto;
  max-width: 1200px; /* Limita la larghezza per un layout più pulito */
}

.MuiCard-root {
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 8px; /* Aggiungi angoli arrotondati per un look più moderno */
}

.MuiCard-root:hover {
  transform: translateY(-4px); /* Aggiungi un effetto di sollevamento */
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}

.MuiButton-root {
  margin: 8px;
  border-radius: 20px; /* Pulsanti con angoli arrotondati */
}

.card-media {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-media:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
